<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Restaurante</title>

  <link rel="stylesheet" href="../../public/css/login-client.css">
</head>
<body>
  <div class="content">
    <div class="box-login">
      <img class="logoRestaurante" src="../../public/img/logo.png" alt="Logo do Restaurante">
      <h2>Cliente</h2>
  
      <form id="form_client-login">
        <div class="inputs">
          <div>
            <label>E-mail</label>
            <input type="text" name="email" class="error">
          </div>
          <div>
            <label>Senha</label>
            <input type="password" name="password" class="error">
          </div>
        </div>
        <button type="submit">Entrar</button>
      </form>

      <div class="opcoesEntrar">
        <span class="clientCadastro">
          <a href="./cliente-register.html">Criar conta</a>
        </span>

        <span class="alterarLogin">
          <a href="../admin/admin-login.html">Entrar como administrador</a>
        </span>
      </div>      
    </div>
  </div>

  <script>
    const API_URL = "http://localhost:8080/restaurante/clientes"

    const formulario = document.querySelector('#form_client-login')

    formulario.onsubmit = function(e) {
      e.preventDefault()

      const email = document.forms['form_client-login'].email.value
      const password = document.forms['form_client-login'].password.value

      fetch('http://localhost:8080/restaurante/clientes/login', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email, password })
      }).then(res => res.json())
      .then(data => {
        if (data.message === 'success') {        
          localStorage.setItem('clienteId', data._id) // Salva o ID no localStorage
                  
          window.location.href = './painel-client.html' 
        } else {
          alert('Email e/ou senha incorretos')
        }
      })
    }    
  </script>
</body>
</html>