<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Restaurante</title>

  <link rel="stylesheet" href="../../public/css/login-client.css">
</head>
<body>
  <div class="content">
    <div class="box-login">

      <h2>Cadastre-se</h2>
  
      <form id="form_client-register">
        <div class="inputs">
          <div>
            <label>Nome</label>
            <input type="text" name="name" class="error">
          </div>
          <div>
            <label>E-mail</label>
            <input type="text" name="email" class="error">
          </div>
          <div>
            <label>Telefone</label>
            <input type="text" name="telefone" class="error">
          </div>
          <div>
            <label>Endereço</label>
            <input type="text" name="endereco" class="error">
          </div>
          <div>
            <label>Senha</label>
            <input type="password" name="password" class="error">
          </div>
        </div>
        <button type="submit">Cadastrar</button>
      </form>

      <div class="opcoesEntrar">
        <span class="clientCadastro">
          <a href="./cliente-login.html">Já tem uma conta?</a>
        </span>

        <span class="alterarLogin">
          <a href="../admin/admin-login.html"></a>
        </span>
      </div>      
    </div>
  </div>

  <script>
    const API_URL = "http://localhost:8080/restaurante/clientes"
    
    const formulario = document.querySelector('#form_client-register')
    const inputs = formulario.querySelectorAll('input')
    
    formulario.onsubmit = function(e) {
      e.preventDefault()

      let temErro = false
  
      inputs.forEach(input => {
        if (!input.value.trim()) {
          input.value = ''
          input.placeholder = `Preencha o campo ${input.name || 'requerido'} corretamente`
          temErro = true
        }
      })
  
      if (temErro === true) return

      const name = document.forms['form_client-register'].name.value
      const email = document.forms['form_client-register'].email.value
      const telefone = document.forms['form_client-register'].telefone.value
      const endereco = document.forms['form_client-register'].endereco.value
      const password = document.forms['form_client-register'].password.value

      fetch (API_URL, {
        method: 'POST',
        headers: {
          'Content-Type':'application/json'
        },
        body: JSON.stringify({
          name,
          email,
          telefone,
          endereco,
          password,
        })
      }).then (response => {
        response.json().then(data => {
          
          if(data.message === 'success' && temErro === false) {
            formulario.reset()
            alert('Cadastro realizado com sucesso!')
            window.location.href = './cliente-login.html'            
          } else if (data.message === 'email_existente') {
            alert('Email já cadastrado!')
          } else if (data.message === 'telefone_existente') {
            alert('Telefone já cadastrado!')
          } else {
            alert('Ops, ocorreu um erro! Tente novamente!')
          }
          
        })
      })
    }


  </script>
</body>
</html>