<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurante Sonho no Prato | Painel</title>
  <link rel="stylesheet" href="../../public/css/painel-client.css">
</head>
<body>

  <header>
    <img class="logoRestaurante" src="../../public/img/logo2.png" alt="Logo do Restaurante">
  </header>

  <nav class="navbar">
    <div class="navbar_buttons">
      <span>
        <a href="">Meus Pedidos</a>
      </span>
      <span>
        <a href="">Ver produtos</a>
      </span>
      <span>
        <a href="">Fazer Pedido</a>
      </span>
    </div>
  </nav>

  <div class="content">



    <div class="divs_box">

      <div class="fazerPedido">
        <h3>Fazer Pedido</h3>
      </div>
  

    </div>

    
  </div>

  
</body>
</html>