<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Admin</title>

  <link rel="stylesheet" href="../public/css/login-admin.css">
</head>
<body>
  <div class="content">
    <div class="box-login">
      <h2>Admin</h2>
  
      <form id="form_admin-login" action="painel-admin.html">
        <div class="inputs">
          <div>
            <label>Usuário</label>
            <input type="text">
          </div>
          <div>
            <label>Senha</label>
            <input type="password">
          </div>
        </div>
        <button type="submit">Entrar</button>
      </form>
    </div>
  </div>

</body>
</html>