<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin | Cadastro de Clientes</title>

  <link rel="stylesheet" href="../public/css/header.css">
  <link rel="stylesheet" href="../public/css/register.css">
  <link rel="stylesheet" href="../public/css/footer.css">
</head>
<body>

  <header>
    <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png" alt="">
    <h1>Perfil Admin</h1>
  </header>

  <div class="content">
    
    <form action="" class="form_cadastro">
      <h2>Cadastrar Clientes</h2>
      
      <div class="inputs">
        <div class="input">
          <label for="">Nome</label>
          <input type="text" name="nome">
        </div>
        <div class="input">
          <label for="">E-mail</label>
          <input type="text" name="email">
        </div>
        <div class="input">
          <label for="">Telefone</label>
          <input type="text" name="telefone">
        </div>
        <div class="input">
          <label for="">Endereço</label>
          <input type="text" name="endereco">
        </div>
      </div>

      <button type="submit">Cadastrar</button>
    </form>
  </div>
  
  <footer>
    <div class="buttons">
      <button>
        <a href="list-clientes.html">Lista de Clientes</a>
      </button>
      <button>
        <a href="painel-admin.html">Voltar</a>
      </button>
    </div>
  </footer>

  
</body>
</html>