<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin | Lista de Pedidos</title>

  <link rel="stylesheet" href="../public/css/header.css">
  <link rel="stylesheet" href="../public/css/list.css">
  <link rel="stylesheet" href="../public/css/footer.css">
</head>
<body>

  <header>
    <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png" alt="">
    <h1>Perfil Admin</h1>
  </header>

  <div class="content">
    <div class="lista">
      <h2>Lista de Pedidos</h2>
      <ul>
        <li class="li_Pedido">Teste</li>
        <li class="li_Pedido">Teste</li>
      </ul>
    </div>
  </div>

  <footer>
    <div class="buttons">
      <button>
        <a href="painel-admin.html">Voltar</a>
      </button>
    </div>
  </footer>

</body>
</html>