body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/WallpaperRestaurante.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(131, 82, 51);
  opacity: 0.89;
  width: 50%;
  height: 90%;

}

.content .box-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.content .box-login .logoRestaurante {
  width: 100%;
}

.content .box-login h2 {
  font-size: 35px;
  color: rgb(239, 224, 123);
  margin: 0;
  margin-bottom: 20px;
}

.content .box-login form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.content .box-login form .inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content .box-login form .inputs div {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.content .box-login form .inputs div input {
  border: none;
  border-radius: 3px;
  padding: 8px;
  outline: none;
  font-size: 14px;
  color: rgb(82, 90, 164);
}

.content .box-login form .inputs div .error::placeholder {
  font-size: 14px;
  color: rgb(222, 14, 14);
}

.content .box-login form button {
  border: none;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: #d66436;
  font-weight: 700;
  cursor: pointer;
}

.content .box-login form button:hover {
  background-color:  #b23f12;
}

.content .box-login .opcoesEntrar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

.content .box-login .opcoesEntrar span {
  margin: 0;
  padding: 0;
}

.content .box-login .opcoesEntrar a {
  color: rgb(242, 233, 176);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  text-decoration: none;
}

