body {
  margin: 0;
  background-color: wheat ;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  height: 30vh;
  background-color: rgb(131, 82, 51);
}

header img {
  width: 20%;
  color: aliceblue;
}

header h1 {
  font-size: 50px;
  font-weight: 900;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 22vw;
  background-color: rgb(197, 147, 116);
  position: fixed;
  padding: 8% 0;
}

.navbar .navbar_buttons {
  display: flex;
  flex-direction: column;
  gap: 80px;
  text-align: center;
  width: 15vw;
}

.navbar .navbar_buttons span a {
  background-color: rgb(223, 173, 147);
  padding: 5% 10%;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(131, 82, 51);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.navbar .sair {
  justify-self: center;
}

.navbar .sair a {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.navbar .sair a:hover {
  text-decoration:underline;
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content .divs_box {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 75vw;
}

.content .divs_box .box {
  margin-top: 20px;
  margin-left: 30px;
}

.content .divs_box .box h3 {
  font-size: 25px;
  color: rgb(90, 49, 23);
}

.content .divs_box .box .lista_meusPedidos li {
  font-size: 18px;
}

.hidden {
  display: none;
}