<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin | Cadastro de Produtos</title>

  <link rel="stylesheet" href="../../public/css/header.css">
  <link rel="stylesheet" href="../../public/css/register.css">
  <link rel="stylesheet" href="../../public/css/footer.css">
</head>
<body>

  <header>
    <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png" alt="">
    <h1>Painel Admin</h1>
  </header>

  <div class="content">
    
    <form id="form_produto-register" class="form_cadastro">
      <h2>Cadastrar Produtos</h2>
      
      <div class="inputs">
        <div class="input">
          <label for="">Nome do Produto</label>
          <input type="text" name="nomeProduto">
        </div>
        <div class="input">
          <label for="">Preço do Produto</label>
          <input type="text" name="precoProduto">
        </div>
      </div>

      <button type="submit">Cadastrar</button>
    </form>
  </div>
  
  <footer>
    <div class="buttons">
      <button>
        <a href="./list-produtos.html">Lista de Produtos</a>
      </button>
      <button>
        <a href="./painel-admin.html">Voltar</a>
      </button>
    </div>
  </footer>

  <script>
    const API_URL = "http://localhost:8080/restaurante/produtos"
    
    const formulario = document.querySelector('#form_produto-register')
    const inputs = formulario.querySelectorAll('input')
    
    formulario.onsubmit = function(e) {
      e.preventDefault()

      let temErro = false
  
      inputs.forEach(input => {
        if (!input.value.trim()) {
          input.value = ''
          input.placeholder = `Preencha o campo corretamente`
          temErro = true
        }
      })
  
      if (temErro === true) return

      const nomeProduto = document.forms['form_produto-register'].nomeProduto.value
      const precoProduto = document.forms['form_produto-register'].precoProduto.value
  

      fetch (API_URL, {
        method: 'POST',
        headers: {
          'Content-Type':'application/json'
        },
        body: JSON.stringify({
          nomeProduto,
          precoProduto,
        })
      }).then (response => {
        response.json().then(data => {
          
          if(data.message === 'success' && temErro === false) {
            formulario.reset()
            alert(`Produto ${nomeProduto} cadastrado com sucesso!`)           
            inputs.placeholder = ''
          } else {
            alert('Ops, ocorreu um erro! Tente novamente!')
          }          
        })
      })
    }
  </script>
</body>
</html>