<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Painel Admin</title>

  <link rel="stylesheet" href="../../public/css/header.css">
  <link rel="stylesheet" href="../../public/css/painel-admin.css">
</head>
<body>

  <header>
    <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png" alt="">
    <h1>Painel Admin</h1>
  </header>

  <div class="content">
    <div class="boxes">
      <div class="box">
        <a href="./cadastrar-clientes.html">Cadastrar Clientes</a>
      </div>
      <div class="box">
        <a href="./list-clientes.html">Lista de Clientes</a>
      </div>
      <div class="box">
        <a href="./cadastrar-produtos.html">Cadastrar Produtos</a>
      </div>
      <div class="box">
        <a href="./list-produtos.html">Lista de Produtos</a>
      </div>
      <div class="box">
        <a href="./list-pedidos.html">Lista de Pedidos</a>
      </div>
      <div class="box boxSair">
        <a href="./admin-login.html">Sair do Painel</a>
      </div>
    </div>
  </div>

  
</body>
</html>